<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      {% load static %}
      <link href="{% static '/css/about.css' %}" rel="stylesheet">
      <script src="{% static '/js/about.js' %}"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="bootstrap.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">     
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
      <script type="text/javascript"   
      src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">  
      </script>  
      <title>About</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}"><i class="fab fa-accusoft"></i> Art Gallery</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.facebook.com/people/Iulia-Art/pfbid03Ro1kWi2rkRXze4s1Y4SsLikSr8ewVJQtJuqBPz28V6nTPLtRK1dFfKsBn4VxZqql/?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.tiktok.com/@iulia_art._?_t=8am2RzCLagD&_r=1"><i class="fab fa-tiktok "></i></i></a></li>
            <li><a href="https://www.instagram.com/iulia_art._"> <i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.pinterest.com/artbyiulia2022/"><i class="fab fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="content">
            <h1>Art Gallery</h1>
            <h3>Modern and contemporary art reimagined in an architectural icon</h3>
            <hr>
              
              <span id="dots"></span><span id="more" style="color: white; font-size: 20px;">Everything around us is an art, natural art.  The world is painted by a skilled Artist.  With the help of colors, brushes, talent, effort, and divine help, people try to represent this world in a work of art.  Painting is the painter's dance with the brush, to the music of colors. In this art gallery, we invite you to wander, to linger, and to be inspired, as you encounter the stories, colors, and textures that unfold before you."</span></p>
              <button onclick="myFunction()" id="myBtn" style="color: blue;"> Read More</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
  
  </body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="google_translate_element"></div>  
  <script type="text/javascript">  
    function googleTranslateElementInit() {  
        new google.translate.TranslateElement(  
            {pageLanguage: 'en'},  
            'google_translate_element'  
        );  
    }  
  </script>  
  <h2 style="font-size:11px; color: aqua;"> &copy; COPYRIGHT © 2023 IULIAARTS - ALL RIGHTS RESERVED.</h2>

</html>